<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealTime Products</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="productList"></ul>

    <script>
        const socket = io();

        socket.on('productListUpdate', (product) => {
            const productList = document.getElementById('productList');
            const newProduct = document.createElement('li');
            newProduct.innerText = `${product.title} - ${product.price}`;
            productList.appendChild(newProduct);
        });
    </script>
</body>

</html>